# Ignore Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment files
.env
.venv/
env/
venv/
ENV/
ENV.bak/
.python-version

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/
.DS_Store
